.blue {
  color:#ADD8E6;
}

.highlight {
  background: #FFFBCC;
  font-style: italic;
}

.fancy {
  font-family: sans-serif;
  font-size: 16;
  background: #005;
  color: #fff;
}

#lorem {
  font-size: 24px;
}
